<%#multipart enables the file uploading and validates implements the client-side-validation functionality%> 
<%=form_for(@community, :html => { :multipart => true }, :validate => true) do |f| %>
  <div class="field">
    <%= f.label :logo %>
    <%= f.file_field :logo %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.submit "Create Community" %>
  </div>

<% end %>
