<div id="page">
  <div id="content">
    <div class="post">

      <script>
        jQuery(function(){
          jQuery(".tabnav").tabs();
        });
      </script>
      
      <div id="tabs">

        <ul class="tabnav">
          <li ><%= link_to "Ask a question", "#question_form", :id=>"active-tab" %></li>
          <li><%= link_to "Post a suggestion", "#suggestion_form" %></li>
        </ul>
        <div class= "panes">
          <div id="question_form" class="tabdiv">
            <%#currently the first member of the community is doing all the questions. TODO: Change this behaviour%>
            <%= form_for @community.questions.build(:member_id => Member.last.id), :remote => true do |f|%>

              <%= f.hidden_field :member_id %>
              <%= f.hidden_field :community_id %>
              <%= f.text_area :content,:id =>"query-text-area", :rows => "4", :cols =>"57", :placeholder=> "Ask a question or make a suggestion HERE." %>
              <br/>
              <%= f.submit "Query", :class => "button", :id => "submit_btn" %>
            <% end %>
          </div>

        </div>
      </div>
    </div>

    <div id="about">
      <div id="menubar">
        <ul>
          <li><%= link_to image_tag "questionsa.jpg" %></li>
        </ul>
      </div>

     <div id="questions" class="comments">
       <% unless @questions.blank? -%>
       <% @questions.each do |question| -%>
         <div class="postedby"><p><%= link_to question.member.user_name unless question.member.blank?%></p></div>
         <div class="thumbimage"><%= image_tag question.member.avatar.url("small") unless question.member.blank?%></div>
         <div class="questiontext"><p><%=link_to question.content, community_question_path(question.community, question) %></p></div>
         <div class="time"><%="#{time_ago_in_words question.created_at} ago"  %></div>
            <div class="responses"><%= pluralize question.responses.count, "response" %></div>
            <div class="status"><%= question.status %></div>
            <hr/>
          <% end -%>
          <% end -%>
        </div> 

      <%#pagination functionality for questions displayed%> 
      <%= will_paginate @questions %>

      <div id="menubar">
        <ul>
          <li><%= link_to image_tag "suggestionsa.jpg" %></li>
        </ul>
      </div>

     <div class="comments" id="suggestions">
       <% unless @suggestions.blank? -%>
       <% @suggestions.each do |suggestion| -%>
         <div class="postedby"><p><%= link_to suggestion.member.user_name unless suggestion.member.blank?%></p></div>
         <div class="thumbimage"><%= image_tag suggestion.member.avatar.url("small") unless suggestion.member.blank?%></div>
            
            
         <div class="suggestiontext"><p><%=link_to suggestion.content, community_suggestion_path(suggestion.community, suggestion) %></p></div>
         <div class="time"><%= "#{time_ago_in_words suggestion.created_at} ago"  %></div>
            <div class="responses"><%= pluralize suggestion.responses.count, "response" %></div>
            <div class="status"><%= suggestion.status %></div>
            <hr/>
          <% end -%>
          <% end -%>
        </div> 

    </div>
  </div>
  <!-- end #content -->
  <div id="sidebar">
    <ul>
      <li>
        <h2><%= "About #{@community.name}" %></h2>
        <hr/>
        <p>This is one of many support communities on
          GimmeSupport, a place where customers and companies connect around the products and services they use..</p>
        <p>
          <%= @community.description %>
        </p>
      </li>
      <li>
        <h2>About this Community</h2>
        <hr/>
        <span class="stats" id="community-questions-count">
          <%="#{pluralize(@questions.count, 'question')} posted"  %>
        </span>
        <br/>
        <span class="stats" id="community-suggestions-count">
          <%="#{pluralize(@suggestions.count, 'suggestion')} posted"  %>
        </span>
        <br/>
        <span class="stats" id="community-members-count">
          <%="#{ pluralize(@members.count, 'member')} on board" %>
        </span>
      </li>

      <li>
        <h2>User Stats</h2>
        <hr/>
        <%= image_tag Member.last.avatar.url("thumb") %>
        <br/>
        <span class="stats" id="member-total-questions">
          <%= "#{pluralize(Member.last.questions.count, 'question')} posted overall" %>
        </span>
        <br/>
        <span class="stats" id="member-total-suggestions">
          <%= "#{pluralize(Member.last.suggestions.count, 'suggestion')} posted overall" %>
        </span>
        <br/>
        <span class="stats" id="member-total-questions-community">
          <%#find the number of questions member has contributed to a specific community%> 
          <%= "#{pluralize((Member.last.questions & @community.questions).count, "question")} on this community" %>
        </span>
        <br/>
        <span class="stats" id="member-total-suggestions-community">
          <%#find the number of questions member has contributed to a specific community%> 
          <%= "#{pluralize((Member.last.suggestions & @community.suggestions).count, "suggestion")} on this community" %>
        </span>
      </li>

    </ul>
  </div>
</div>
