<div id="page">
  <div id="content">
    <div class="post">

      <div id="tabs">

        <ul class="tabnav">
          <li><%= link_to "Ask a question", "#contact_form" %></li>
          <li><%= link_to "Post a suggestion", "#suggestion_form" %></li>
        </ul>
        <div class= "panes">
          <div id="contact_form" class="tabdiv">
            <%#currently the first member of the community is doing all the questions. TODO: Change this behaviour%>
            <%= form_for @community.questions.build(:member_id => Member.last.id), :remote => true do |f|%>

              <%= f.hidden_field :member_id %>
              <%= f.hidden_field :community_id %>
              <%= f.text_area :content,:id =>"query-text-area", :rows => "4", :cols =>"57", :placeholder=> "Ask a question or make a suggestion HERE." %>
              <br/>
              <%= f.submit "Query", :class => "button", :id => "submit_btn" %>
            <% end %>
          </div>

          <div id="suggestion_form" class="tabdiv">
            <%#currently the first member of the community is doing all the questions. TODO: Change this behaviour%>
            <%= form_for @community.questions.build(:member_id => Member.last.id), :remote => true do |f|%>

              <%= f.hidden_field :member_id %>
              <%= f.hidden_field :community_id %>
              <%= f.text_area :content,:id =>"query-text-area", :rows => "4", :cols =>"57", :placeholder=> "Post a suggestion HERE." %>
              <br/>
              <%= f.submit "Query", :class => "button", :id => "submit_btn" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div id="about">
      <%=image_tag "coms.jpg"%>

      <div id="comments">

        <%= render @questions unless @questions.empty? %>

        <%#pagination functionality for questions displayed%> 
        <%= will_paginate @questions %>
      </div>

    </div>
  </div>
  <!-- end #content -->
  <div id="sidebar">
    <ul>
      <li>
        <h2><%= "About #{@community.name}" %></h2>
        <hr/>
        <p>This is one of many support communities on
          GimmeSupport, a place where customers and companies connect around the products and services they use..</p>
        <p>
          <%= @community.description %>
        </p>
      </li>
      <li>
        <h2>About this Community</h2>
        <hr/>
        <span class="stats" id="community-questions-count">
          <%="#{pluralize(@questions.count, 'question')} posted"  %>
        </span>
        <br/>
        <span class="stats" id="community-members-count">
          <%="#{ pluralize(@members.count, 'member')} on board" %>
        </span>
      </li>

      <li>
        <h2>User Stats</h2>
        <hr/>
        <%= image_tag Member.last.avatar.url("thumb") %>
        <br/>
        <span class="stats" id="member-total-questions">
          <%= "#{pluralize(Member.last.questions.count, 'question')} posted overall" %>
        </span>
        <br/>
        <span class="stats" id="member-total-questions-community">
          <%#find the number of questions member has contributed to a specific community%> 
          <%= "#{pluralize((Member.last.questions & @community.questions).count, "question")} on this community" %>
        </span>
      </li>

    </ul>
  </div>
  <!-- end #sidebar -->
</div>
<!-- end #page -->
