<h1>Communities#show</h1>
<h1><%= @community.name %></h1>
<p>Find me in app/views/communities/show.html.erb</p>
<div id="page">
  <div id="logo">
    <%= image_tag @community.logo.url("thumb") %>
    <!--<img src="public/myimages/ourlogo.png" width=40 align="right" id="mylogo">-->
    <div id="logotext"></div>		
  </div>


  <div id="content">
    <div class="post">

      <ul>
        <li><a href="javascript:disable_enable()">Ask a question</a></li>
        <li><a href="javascript:disable_enable()">Post a suggestion</a></li>
      </ul>

      <div id='contact-form'>
         <%#currently the first member of the community is doing all the questions. TODO: Change this behaviour%> 
         <%= form_for @community.questions.build(:member_id => Member.last.id), :remote => true do |f|%>

          <%= f.hidden_field :member_id %>
          <%= f.hidden_field :community_id %>
          <%= f.text_area :content,:rows => "4", :cols =>"57", :placeholder=> "Ask a question or make a suggestion HERE." %>
          <br/>
          <%= f.submit "Query", :class => "button", :id => "submit_btn" %>
          <% end %>
      </div>

      </div>

  <div id="questions">


    <%= render @questions unless @questions.empty? %>

  </div>

    </div>


  <!-- end #content -->
  <div id="sidebar">
    <ul>		
      <li>
        <h2>About Apple</h2>
        <hr/>
        <p>This is one of many support communities on 
          Get Satisfaction, a place where customers and companies connect around the products and services they use..</p>
      </li>
      <li>
        <h2>About this Community</h2>
        <hr/>
        <p>
          <%= @community.description %>
        </p>
        <p>This is one of many support communities on 
          Get Satisfaction, a place where customers and companies connect around the products and services they use..</p>
      </li>

      <li>
        <h2>User Stats</h2>
        <hr/>
        <p>This is one of many support communities on 
          Get Satisfaction, a place where customers and companies connect around the products and services they use..</p>
      </li>

    </ul>
  </div>
  <!-- end #sidebar -->
  <div style="clear: both;">&nbsp;</div>
</div>
