<!DOCTYPE html>
<html>

  <head>
    <title>GimmeSupportCommunities</title>
    <%= stylesheet_link_tag    "tabs", "moderator" %>
    <%= javascript_include_tag "application","http://localhost:9292/faye.js" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div id="header-wrapper">
      <div id="companyarea">
        <div id ="companyname"><%= @community.name %></div>
        <%= image_tag @community.logo.url("thumb") %>
      </div>

      <div id="welcome">
        <p><%=link_to (image_tag "gimLogo.png", :height=>"40"), "/" %></p> 
      </div>
      <div class="search_menu_banner">
        <div class="search_background">
          <div class="searchbox">
              <form method="post" action="/communities/find">
                  <input name="companyname" type="text" class="searchtextbox" placeholder="       Search company" />
                  <input type="submit" id="search-submit" class="go" value="GO" name="submitcompany" />
              </form>
          </div>

        </div>
      </div>

    </div>
    <div id="ajax-status"></div>
    <%= yield %>


  </body>

</html>


