<h1>Members#show</h1>
<p>Find me in app/views/members/show.html.erb</p>
<br/>
<p><%= @member.user_name %></p>
<br/>

<p><%= @member.email %></p>
<br/>
<p<%= @member.password %></p>
<br/>
<%#<%= image_tag @member.avatar.url %>
<%#<%= image_tag @member.avatar.url(:medium) %>
<%= image_tag @member.avatar.url(:thumb) %>
